/* ESTILIZAÇÃO DA PAGINA DE CONFIRMAÇÃO */
/* Edições globais + reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-weight: normal;
}
/* Estilo do corpo da página */
body {
    color: rgb(115, 0, 144);    
}

/* Estilo dos títulos h2 */
h2 {
    font-family: "Montserrat", serif;
    font-size: 50px;    
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 20px 0 40px 0;
    
}
#h2blesquerdo {
    font-family: "URW Chancery L, cursive";
    font-size: 60px;
}
.h2titulo {
    margin-top: 0;
    font-size: 45px;
    gap: 0;
}

#logoMarca {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-top: 0;
    margin-bottom: 20px; 
}
.tituloCad {
    display: flex;
}
/* Estilo do título na parte superior da caixa de cadastro */
#h1cadastro {
    color:  rgb(255, 255, 255);
    font-size: 60px;
    animation: bounce 3s infinite;
    margin-bottom: 5px;
    margin-top: 0;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-15px); }
}

/* Estilo do formulário */
form {    
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-left: 5px;
    color: rgb(86, 0, 108);
    margin-top: 0;
}

/* Estilo do botão dentro do formulário */
form button {
    display: flex;
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.633) 0%, #000000ca 100%);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}
/* Marca do site */
.forçavital {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 115px;
    margin-bottom: 0px;
    font-size: 45px;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
}
/* Estilo dos inputs e botões */
input, button {      
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 12px 20px;     
    font-size: 16px;
    width: 400px;
}

/* Estilo dos inputs */
input {
    background-color: rgba(0, 0, 0, 0.288);
    color: rgb(0, 0, 0);
}

/* Estilo do placeholder dos inputs */
input::placeholder {
    color: rgb(255, 255, 255);  
}

/* Estilo dos botões */
.containerButon {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
#butoncad {
    font-weight: 700;
    margin-top: 0px;
    justify-content: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.76);
    text-align: center;    
    color: white;
    transition: all 0.3s ease;
    background: linear-gradient(90deg,rgb(8, 8, 81));
}

/* Efeito hover nos botões */
#butoncad:hover {
    transform: translateY(-5px);
}

/* Estilo dos parágrafos */
p {
    margin-top: 20px;
    text-align:center;
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 17px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilo do container pai */
.containerPai {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,rgb(8, 8, 81), rgb(71, 176, 238));
    display: flex;
    justify-content: center;
    align-items: center;  
}

/* Mensagem de error para os campos do formulario */
.Span-required {
    display: none;
    margin: 3px 0 0 1px;
    color: red;
    font-size: 15px;
}

/* Estilo do bloco de login/cadastro */
.card {
    width: 35rem; 
    height: 35rem;
    background: linear-gradient(rgb(51, 0, 105)); 
    padding: 10px;
    display: flex;
    border: rgb(255, 255, 255);
    border-radius: 55px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 100px 0px 100px 50px;
}

/* Estilo das seções esquerda e direita do card */
.direita {
 margin: 0 130px 0 90px;
}
.esquerda {
 margin: 0 100px 0 100px;
 z-index: 1;
}

/* Estilo dos formulários e seções de login e cadastro */
.formLogin, .facaLogin, .formCadastro, .facaCadastro {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

/* Estilo dos locais de inserir os dados */
select {
    background-color: rgba(0, 0, 0, 0.288);
    color: rgb(255, 255, 255);  
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 16px;
    width: 400px;
    appearance: none;
    cursor: pointer;
}
select option {
    color: rgb(255, 255, 255);
    background-color: #07004aca;
}
.span-required {
    display: none;
}

/* Bloco esquerdo com a imagem de fundo */
.card::after {
    width: 100%;
    height: 100%;
    content: "";
    background-size: cover;
    background: rgb(8, 8, 81);
    border-radius: 55px;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;    
    z-index: 0;
}


